src/main/resources/btc4j-ws.wsdl

<?xml version="1.0" encoding="utf-8"?>

<!--
 The MIT License (MIT)
 
 Copyright (c) 2013, 2014 by ggbusto
 
 Permission is hereby granted, free of charge, to any person obtaining a copy of
 this software and associated documentation files (the "Software"), to deal in
 the Software without restriction, including without limitation the rights to
 use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
 the Software, and to permit persons to whom the Software is furnished to do so,
 subject to the following conditions:
 
 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<definitions xmlns:btc4j="http://www.btc4j.org/ws/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://www.btc4j.org/ws/"
	name="btc4j-ws">
	<types>
		<xsd:schema targetNamespace="http://www.btc4j.org/ws/">
			<xsd:simpleType name="addresses">
				<xsd:list itemType="xsd:string">
				</xsd:list>
			</xsd:simpleType>
			<xsd:complexType name="btcFault">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:integer" />
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="btcWsException">
		<part name="fault" type="btc4j:btcFault" />
	</message>
	<message name="backupWalletRequest">
		<part name="destination" type="xsd:string" />
	</message>
	<message name="backupWalletResponse" />
	<message name="dumpPrivateKeyRequest">
		<part name="address" type="xsd:string" />
	</message>
	<message name="dumpPrivateKeyResponse">
		<part name="privateKey" type="xsd:string" />
	</message>
	<message name="getAccountRequest">
		<part name="address" type="xsd:string" />
	</message>
	<message name="getAccountResponse">
		<part name="account" type="xsd:string" />
	</message>
	<message name="getAccountAddressRequest">
		<part name="account" type="xsd:string" />
	</message>
	<message name="getAccountAddressResponse">
		<part name="address" type="xsd:string" />
	</message>
	<message name="getAddressesByAccountRequest">
		<part name="account" type="xsd:string" />
	</message>
	<message name="getAddressesByAccountResponse">
		<part name="addresses" type="btc4j:addresses" />
	</message>
	<message name="getConnectionCountRequest" />
	<message name="getConnectionCountResponse">
		<part name="connections" type="xsd:integer" />
	</message>
	<message name="helpRequest">
		<part name="command" type="xsd:string" />
	</message>
	<message name="helpResponse">
		<part name="help" type="xsd:string" />
	</message>
	<message name="stopRequest" />
	<message name="stopResponse">
		<part name="message" type="xsd:string" />
	</message>
	<portType name="BtcDaemonServicePort">
		<operation name="backupWallet">
			<input message="btc4j:backupWalletRequest" />
			<output message="btc4j:backupWalletResponse" />
			<fault message="btc4j:btcWsException" name="btcWsException" />
		</operation>
		<operation name="dumpPrivateKey">
			<input message="btc4j:dumpPrivateKeyRequest" />
			<output message="btc4j:dumpPrivateKeyResponse" />
			<fault message="btc4j:btcWsException" name="btcWsException" />
		</operation>
		<operation name="getAccount">
			<input message="btc4j:getAccountRequest" />
			<output message="btc4j:getAccountResponse" />
			<fault message="btc4j:btcWsException" name="btcWsException" />
		</operation>
		<operation name="getAccountAddress">
			<input message="btc4j:getAccountAddressRequest" />
			<output message="btc4j:getAccountAddressResponse" />
			<fault message="btc4j:btcWsException" name="btcWsException" />
		</operation>
		<operation name="getAddressesByAccount">
			<input message="btc4j:getAddressesByAccountRequest" />
			<output message="btc4j:getAddressesByAccountResponse" />
			<fault message="btc4j:btcWsException" name="btcWsException" />
		</operation>
		<operation name="getConnectionCount">
			<input message="btc4j:getConnectionCountRequest" />
			<output message="btc4j:getConnectionCountResponse" />
			<fault message="btc4j:btcWsException" name="btcWsException" />
		</operation>
		<operation name="help">
			<input message="btc4j:helpRequest" />
			<output message="btc4j:helpResponse" />
			<fault message="btc4j:btcWsException" name="btcWsException" />
		</operation>
		<operation name="stop">
			<input message="btc4j:stopRequest" />
			<output message="btc4j:stopResponse" />
			<fault message="btc4j:btcWsException" name="btcWsException" />
		</operation>
	</portType>
</definitions>